.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  border-radius: 50%;
}

.navlink-container {
  display: flex;
  gap: 10px;
}

.navlink-container a {
  text-decoration: none;
  color: #000;
  color: var(--text);
}

/* .sign-up {
  background-color: ;
} */
