.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 2rem;
  padding: 2rem 5rem;
}

.restaurant-card {
  background: rgb(46, 44, 44);
  transition: all 300ms;
}

.restaurant-card img {
  width: 20rem;
  height: 10rem;
}
